<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="fName">
        <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.fName | titlecase}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lName">
        <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lName | titlecase}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row;columns: displayedColumns;"></mat-row>
</mat-table>




    
